*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*  Mustard #E3B448, Sage #CBD18F, Forest Green #3A6B35 */
:root{
  --fs-h1 : 25px;
  --fs-h2 : 22px;
  --fs-h3 : 18px;
  --fs-h4 : 14px;
  --fs-h5 : 10px;
  --fs-p : 16px;
  --background-color-primary : #E3B448;
  --background-color-secondary : #ffffff4d;
  --font-color :#080e25;
}
body{
  min-height: 100vh;
  background-image: url('./endless-constellation.svg');  /*background by : SVGBackgrounds.com */
  color: var(--font-color);
}
/* header style */
.hero{
  background-image: linear-gradient( 45deg , var(--background-color-primary),var(--background-color-secondary));
  padding: 0 1rem;
}

.hero-body{
  display: flex;
  align-items: center;
}

h1.title{
  font-size: var(--fs-h1);
  flex: 1;
  margin: 0.5rem 0;
}

.hero-button{
  align-self: stretch;
  min-width: 4rem;
  background:none;
  border: none;
  transition: background-color 0.4s ease;
}

.hero-button:hover{
  background-color: var(--background-color-primary);
}

/* main style */

.main-body{
  margin :1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.movie-section {
  flex: 1 1 45%;
  padding: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(rgba(255, 0, 0, 0.219), rgba(255, 0, 0, 0.171)),url('./rainbow-vortex.svg') ;  /*background used from background by : SVGBackgrounds.com */
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 4px -5px rgba(255, 255, 255, 0.562);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.movie-section:hover{
  box-shadow: 0 5px 6px -5px rgba(255, 255, 255, 0.979);

}


input{
  margin-top: 0.5rem ;
  border: none;
  outline: none;
  padding: 0.2rem;
  display: block;
}

input:hover{
  
  background-color: rgba(182, 179, 179, 0.63);
}

.search-results-container{
  position: absolute;
  min-width: 10rem;
  background-color: aliceblue;
  display: none;
  margin-top: 0.2rem;
  z-index: 10;
  padding: 0.2rem;
}





/* search result float syle */

.search-item-style{
  max-width: 100%;
  display: flex;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  box-shadow: 0px 0px 2px 1px  grey;
  background-color: rgba(211, 209, 205, 0.788);
  border-radius: 5px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  border-bottom: 1px solid white;
  overflow: hidden;

}
.search-item-style:hover{
  background-color: var(--background-color-secondary);

}

.search-image-style{
  max-width: 2.5rem;
}

.search-item-style div{
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
  
}
.search-item-style div h4{
  font-size: var(--fs-h4);
  color: var(--font-color);
}


/* intro mssage style */
.intro-message{
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-message p { 
  padding: 1rem;
  border: 2px solid grey;
}



/* selected movie style */

.selected-movie-container{
  z-index: 1;
  background-color: aliceblue;
  padding: 0.2rem;
  margin-top: 0.2rem;
}

figure{
  display: flex;
  gap: 0.2rem;
}

figure img{
  width: 30%;
}

figcaption { 
  font-size: var(--fs-h2);
  border-left: 2px solid grey;
  padding-left: 0.2rem;
}

figcaption span { 
  font-size: var(--fs-h3);
  color: rgb(51, 49, 49);
}

.movie-details{
  margin-top: 0.4rem;
  background-color:#616a8f;
  padding: 0.2rem;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(48, 0, 0, 0.397);
}

.movie-details:hover{
  background-color:#464d69;
}

input{
  width: 100%;
}


  

/* Media Queries */

@media screen and (max-width:400px) {
  /* header media queries */
  .hero-body{
    display: flex;
    flex-direction: column;
  }

  .hero-button{
    margin-bottom: 0.5rem;
    align-self: center;
  }

  .main-body{
    margin :0.5rem 0;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
  }

  
  

  /* search result float syle */

  .search-results-container{
    max-width: 12rem;
    margin-top: 0.1rem;
    padding: 0.2rem;
  }

.search-image-style{
  max-width: 2.5rem;
  margin-bottom: 0.1rem;
}
.search-item-style div{
  margin-left: 0.2rem;
}

.search-item-style div h4{
  font-size: var(--fs-h4);
  color: var(--font-color);
}


.search-item-style div h5{
  font-size: var(--fs-h5);
  color: var(--font-color);
}

/* selected movie style */

.searched-movie{
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  gap: 0.2rem;
  background-color: aliceblue;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px white;
  padding: 0.3rem;
}
figure img{
  width: 20%;
}

.movie-details{
  margin-top: 0.2rem;
  background-color:#616a8f;
  padding: 0.2rem;
}

}



.active-disable{
  display: none;
}

.active {
  display:initial;
}